<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Developers database</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></link>
</head>
<body>
        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <h1>Gyms</h1>

                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Basic Info</th>
                                    <th>Info</th>
                                    <th>Subscription</th>
                                    <th>Add subscription</th>
                                    <th>Remove gym</th>
                                    <th>Modify gym</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="gym : ${gyms}">
                                    <td th:text="${gym.Name}"></td>
                                    <td>
                                        <a th:href="@{/gym/{id}(id=${gym.id})}">Show more info</a>
                                    </td>
                                    <td>
                                        <select>
                                            <option th:each="sub : ${gym.subscriptions}" th:text="${sub.getType() + ' ' + sub.getPrice()}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <a th:href="@{/gym/{id}/insertSubscriptions(id=${gym.id})}" method="post">Add subscription</a>
                                    </td>
                                    <!-- <td>
                                        <a th:href="@{/gym/{id}/insertPersonalTrainer(id=${gym.id})}" method="post">Add personal trainer</a>
                                    </td> -->
                                    <td>
                                        <a th:href="@{/deleteGym/{id}(id=${gym.id})}" method="post">Remove gym</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/modifyGym/{id}(id=${gym.id})}" method="post">Modify gym</a>
                                    </td>

                        
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" style="display: flex;">
                            <a th:href="@{/insertGym}">Inserisci palestra</a>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
