<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert subscription</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></link>
</head>
<body>
    <div class="container" th:if="${action == 'insert'}">
        <h2>Abbonamenti che intendi inserire</h2>
        <form class="form-horizontal" th:action="@{/gym/{id}/insertSubscriptions(id=${gym.id})}" method="post" enctype="multipart/form-data">
            <div>
                <div class="form-inline">
                    <div class="form-group col-lg-6">
                        <input id="checkbox1" type="checkbox"/>
                        <label for="checkbox1">&nbsp;Annuale</label>
                        <label class="col-lg-2 control-label">Prezzo</label>
                        <input type="text" class="form-control" name="annualPrice"/>
                    </div>
                </div>
            </div>   
            <div>
                <div class="form-inline">
                    <div class="form-group col-lg-6">
                        <input id="checkbox2" type="checkbox"/>
                        <label for="checkbox2">&nbsp;Mensile</label>
                        <label class="col-lg-2 control-label">Prezzo</label>
                        <input type="text" class="form-control" name="monthPrice"/>
                    </div>
                </div>
            </div>  
            <div>
                <div class="form-inline">
                    <div class="form-group col-lg-6">
                        <input id="checkbox3" type="checkbox"/>
                        <label for="checkbox3">&nbsp;Prova</label>
                        <label class="col-lg-2 control-label">Prezzo</label>
                        <input type="text" class="form-control" name="trialPrice"/>
                    </div>
                </div>
            </div>
            <span>
                <button type="submit" class="btn btn-primary">Inserisci abbonamento</button>
            </span>
        </form>
    </div>
    <div class="container" th:if="${action == 'edit'}">
        <h2>Abbonamenti che intendi inserire</h2>
        <form class="form-horizontal" th:action="@{/gym/{idGym}/{idSub}/updateSubscriptions(idGym=${gym.id}, idSub=${sub.id})}" method="get" enctype="multipart/form-data">
            <div>
                <div class="form-inline" th:if="${classType == 'AnnualSubscription'}">
                    <div class="form-group col-lg-6" >
                        <input id="checkbox1" type="checkbox"/>
                        <label for="checkbox1">&nbsp;Annuale</label>
                        <label class="col-lg-2 control-label">Prezzo</label>
                        <input type="text" class="form-control" th:value="${sub.getPrice()}" name="annualPrice"/>
                    </div>
                </div>
            </div>   
            <div>
                <div class="form-inline" th:if="${classType == 'MonthSubscription'}">
                    <div class="form-group col-lg-6">
                        <input id="checkbox2" type="checkbox"/>
                        <label for="checkbox2">&nbsp;Mensile</label>
                        <label class="col-lg-2 control-label">Prezzo</label>
                        <input type="text" class="form-control"  th:value="${sub.getPrice()}" name="monthPrice"/>
                    </div>
                </div>
            </div>  
            <div>
                <div class="form-inline" th:if="${classType == 'TrialSubscription'}">
                    <div class="form-group col-lg-6">
                        <input id="checkbox3" type="checkbox"/>
                        <label for="checkbox3">&nbsp;Prova</label>
                        <label class="col-lg-2 control-label">Prezzo</label>
                        <input type="text" class="form-control" th:value="${sub.price}" name="trialPrice"/>
                    </div>
                </div>
            </div>
            <span>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </span>
        </form>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
